body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.navbar a {
    text-decoration: none;
    color: white;
    margin: 0 1rem;
}

.header {
    background-color:coral;
    text-align: center;
    padding: 2rem 0;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #dd2b6c;
}

h2 {
    color: royalblue;
}

.search-form {
    background-color: #f9f9f9;
    padding: 1rem;
    text-align: center;
}

form {
    display: inline-block;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input[type="text"] {
    padding: 0.5rem;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color:black;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

ul li a {
    text-decoration: none;
    color: #7225df;
}

.center {
    display: block;
    margin: 0 auto;
}
